<!-- .resume -->
<div id="resume" class="content_2">
    <!-- .title -->
<h1 class="h-bloc">Introduction - PI and Research</h1> 

<div style="clear: both"></div>  
  
<!-- client reference -->
<div class="row">
<div class="col-md-12">   
    
<div class="reference clearfix"> 
            
         <!-- .title_content -->
        <div class="title_content" style="margin-bottom:5px">
            <div class="text_content">Research</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        

        <ul>
            <li class="clearfix">
                <img src="http://placehold.it/100x100" class="img_reference" width="100" height="100" alt="">
		<span>Autophagy</span>
                <p>“Autophagy, a bulk degradation process of cell’s own proteins by lysosomes (or vacuoles in fungi), is tightly regulated to maintain a balance between synthesis and degradation of cellular products. It is an important mechanism for recycling amino acids from cellular proteins under metabolically stressful conditions. We have expanded our research to whole autophagic pathways including several selective autophagy pathways (xenophagy - autophagy for bacterial clearance and aggrephagy - autophagy for protein aggregates), ubiquitylation-like enzymatic mechanism, and autophagosome maturation.”</p>
            </li>
            <li class="clearfix">
                <img src="http://placehold.it/100x100" class="img_reference" width="100" height="100" alt="">
		<span>Ubiquitin Biology</span>
                <p>“Ubiquitin (Ub) is a small protein composed of 76 amino acids. Found only in eukaryotes, it is known as a signal for proteasome-dependent protein degradation pathway by a covalent modification of target proteins. Ub-dependent degradation regulates diverse cellular processes including cell cycle progression, muscle differentiation, and transcriptional regulation. Interestingly, proteins containing specific amino acid residues at the N-terminus are discarded within a few minutes, which is called “N-end rule”. A key molecule for N-end rule is Ubr1, an Ub E3-ligase. The N-end rule possesses the hierarchical enzymatic steps to degrade the N-degron substrates. We are working on the structure-function study of proteins involved in the N-end rule pathway.”</p>
            </li>
            <li class="clearfix">
                <img src="http://placehold.it/100x100" class="img_reference" width="100" height="100" alt="">
		<span>Bacterial Degradation Signaling Recognition</span>
                <p>“Intracellular protein degradation is a highly regulated process. The proteolytic machinery must select the right substrate in the right place at the right time. Unlike eukaryotes, prokaryotes utilize several protease complexes for intracellular protein degradation as they lack the ubiquitin-proteosome system. However, despite a wealth of structural information on prokaryotic proteosome homologs, the detailed mechanism for their substrate recognition is still mysterious. Against this background, we conduct research on the target selection steps by bacterial degradation machineries including ClpXP and HslVU.”</p>
            </li>
        </ul>
</div>
</div>

     
<div style="clear: both"></div>   
</div>
<div class="row">

   <!-- .resume-right -->
    <div class="col-md-6">

        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Research Themes</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <div class="skills">
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="100%">
                <div class="skillbar-title"><span>Autophagy</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">100%</div>
            </div>
    
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="100%">
                <div class="skillbar-title"><span>Ubiquitin-Proteasome system</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">100%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="100%">
                <div class="skillbar-title"><span>N-term end Rule</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">100%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="50%">
                <div class="skillbar-title"><span>etc.</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">50%</div>
            </div>
            <!-- /.skillbar -->
        </div>
       
        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Research Tools</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <div class="skills">
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="100%">
                <div class="skillbar-title"><span>X-ray crystallography</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">100%</div>
            </div>
            <!-- /.skillbar -->
		
	    <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="15%">
                <div class="skillbar-title"><span>Cryo-EM</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">15%</div>
            </div>
            <!-- /.skillbar -->
        </div>
        
        
        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">About LSB</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <!-- .download_resume -->
        <a class="download" style="margin:0;float: left;" href="#">
            <span data-hover="Download About LSB"><i class="glyphicon glyphicon-download-alt"></i> Download About LSB</span>
        </a>
        <!-- /.download_resume -->

    </div>
     <!-- /.resume-right -->
     
     
     
     <!-- .resume-left -->
    <div class="col-md-6 resume-left">    
        <!-- .title_content -->
        <div class="title_content" style="margin-bottom:5px">
            <div class="text_content">Professoinal Experience</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <!-- .attributes -->
        <ul class="attributes">
            <li class="first">
                <h5>Professor <span class="duration"><i class="fa fa-calendar color"></i> 2011-present</span></h5>
                <h6><span class="fa fa-briefcase"></span> Division of Life Sciences, Korea University, Seoul, Korea</h6>
                <p>Division Chair(2013 - 2015)</p>
		<p>Assistant and Associate Professor(2004 - 2011)</p>
            </li>
            <li>
                <h5>Visiting Professor <span class="duration"><i class="fa fa-calendar color"></i> 2010 - 2011</span></h5>
                <h6><span class="fa fa-briefcase"></span> Harvard Medical School and Dana-Farber Cancer Institute, Boston, USA</h6>
                <p>insert anything</p>
            </li>
	    <li>
                <h5>Senior Researcher <span class="duration"><i class="fa fa-calendar color"></i> 2003 - 2004</span></h5>
                <h6><span class="fa fa-briefcase"></span> Division of Basic Sciences, National Cancer Center, Ilsan, Korea</h6>
                <p>insert anything</p>
            </li>

        </ul>
        <!-- /.attributes -->
        <br>
        
        <!-- .title_content -->
        <div class="title_content">
            <div class="text_content">Education and Training</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <!-- .attributes -->
        <ul class="attributes">
            <li class="first">
                <h5>Research Associate <span class="duration"><i class="fa fa-calendar color"></i> 2001 - 2003</span></h5>
                <h6><span class="fa fa-book"></span> Harvard Medical School and Dana-Farber Cancer Institute, Boston, USA</h6>
                <p>insert anything</p>
            </li>
            <li>
                <h5>Postdoctoral Fellow <span class="duration"><i class="fa fa-calendar color"></i> 1997 - 2001</span></h5>
                <p>Max-Planck-Institut für Biochemie, Martinsried, Germany(1999 - 2001)</p>
		<p>Research Institute for Basic Sciences, Seoul National University(1997 - 1999)</p>
            </li>
	    <li>
                <h5>Education<span class="duration"><i class="fa fa-calendar color"></i> 1987 - 1997</span></h5>
		<h6><span class="fa fa-book"></span> Seoul National University, Seoul, Korea</h6>
                <p>Ph.D. in Chemistry(1993 - 1997)</p>
		<p>M.S. in Chemistry(1991 - 1993)</p>
		<p>B.S. in Agricultural Chemistry(1987 - 1991)</p>
            </li>
        </ul>
        <!-- /.attributes -->
        <br>  
        
    </div>
    <!-- /.resume-left -->
</div>
</div>
<!-- End .resume -->
